PORT=3001
NODE_ENV=development

# MongoDB Connection String (Atlas or Local)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/sprint

# Telegram Bot
BOT_TOKEN=8616018832:AAF4tb45rGmTq3tHUfgPIOlJmirxOdk-jeE

# WebApp URL (For production webhook)
# WEBAPP_URL=https://sprint-fbb9.onrender.com
